
   <div class="container">
      <ul id="tabsNav" class="tabsNav nav">
       <li class="nav-item nav-link nav-link-custom small text-uppercase active" [class.active]="viewMode == 'tabLundi'"
         rel="tabLundi" (click)="viewMode ='tabLundi'">Récapitulatif des commandes</li>
       <li class="nav-item nav-link nav-link-custom small text-uppercase active" [class.active]="viewMode == 'tabMardi'"
         rel="tabMardi" (click)="viewMode ='tabMardi'">Plats</li>
       <li class="nav-item nav-link nav-link-custom small text-uppercase active" [class.active]="viewMode == 'tabMercredi'"
         rel="tabMercredi" (click)="viewMode ='tabMercredi'">Menu</li>
       <li class="nav-item nav-link nav-link-custom small text-uppercase active" [class.active]="viewMode == 'tabJeudi'"
         rel="tabJeudi" (click)="viewMode ='tabJeudi'">Compte utilisateur</li>
     </ul>
    
     <form class="row form">
         <div class="col-12 col-xl-6">
           <label for="inputPassword2" class="sr-only">Password</label>
           <input type="text" class="form-control" id="" placeholder="Plat">
         </div>
         <div class="col-12 col-xl-6 text-center">
         <button type="submit" class="btn btn-primary mb-2 valider">Ajouter</button>
       </div>
       </form>
     </div>
      <div class="container-fluid">
       <div class="row tab plat">
         <div class="col">
           <div class="days">
             <li class="nav-item nav-link nav-link-custom small text-uppercase active" [class.active]="viewMode == 'tabLundi'"
             rel="tabLundi" (click)="viewMode ='tabLundi'">Lundi</li>
           </div>
           <div class="selMenu">
             <select class="sel">
               <option value="">Plat 1</option>
             </select>
             <select class="sel">
               <option value="">Plat 2</option>
             </select>
           </div>
         </div>
         <div class="col">
           <div class="days">
               <li class="nav-item nav-link nav-link-custom small text-uppercase active" [class.active]="viewMode == 'tabLundi'"
               rel="tabLundi" (click)="viewMode ='tabLundi'">Mardi</li>
           </div>
           <div class="selMenu">
               <select class="sel">
                 <option value="">Plat 1</option>
               </select>
               <select class="sel">
                 <option value="">Plat 2</option>
               </select>
             </div>
         </div>
         <div class="col">
             <div class="days">
                 <li class="nav-item nav-link nav-link-custom small text-uppercase active" [class.active]="viewMode == 'tabLundi'"
                 rel="tabLundi" (click)="viewMode ='tabLundi'">Mercredi</li>
             </div>
             <div class="selMenu">
                 <select class="sel">
                   <option value="">Plat 1</option>
                 </select>
                 <select class="sel">
                   <option value="">Plat 2</option>
                 </select>
               </div>
         </div>
         <div class="col">
             <div class="days">
                 <li class="nav-item nav-link nav-link-custom small text-uppercase active" [class.active]="viewMode == 'tabLundi'"
                 rel="tabLundi" (click)="viewMode ='tabLundi'">Jeudi</li>
             </div>
             <div class="selMenu">
             <select class="sel">
               <option value="">Plat 1</option>
             </select>
             <select class="sel">
               <option value="">Plat 2</option>
             </select>
           </div>
         </div>
         <div class="col">
           <div class="days">
               <li class="nav-item nav-link nav-link-custom small text-uppercase active" [class.active]="viewMode == 'tabLundi'"
               rel="tabLundi" (click)="viewMode ='tabLundi'">Vendredi</li>
           </div>
           <div class="selMenu">
           <select class="sel">
               <option value="">Plat 1</option>
           </select>
           <select class="sel">
               <option value="">Plat 2</option>
           </select>
         </div>
         </div>
       </div>
      </div>
   
     <div class="valid">
      <button class="btn btn-primary valider">Valider</button>
     </div>