.navv{
    padding: 70px;
    text-align: center
}

.days{
   /* display: flex;*/
    text-align: center

}
.lien{
    font-size: 2em;
    color: black;
    font-weight: bold;
    padding-left: 50px;
    text-align: center
}

.menu{
    display: flex;
    justify-content: space-around;
}
.ajout{
    border-radius: 100%;
    padding: 7px;
    color: white;
    font-size: 1.3em;
    background-color: rgba(211, 40, 63, 1)
}

.ajout:hover{
    background-color: rgba(180, 90, 211, 1);
    text-decoration: none;
}