<nav class="navv">
  <div class="btn">
   <a class="lien" href="#">Récapitulatif des commandes</a>
   <a class="lien" href="#">Plats</a>
   <a class="lien" href="#">Menu</a>
   <a class="lien" href="#">Compte utilisateur</a> 
  </div>
  <div class="add">
   <form class="form-inline">
    
     <div class="form-group mx-sm-3 mb-2">
       <label for="inputPassword2" class="sr-only">Password</label>
       <input type="text" class="form-control" id="" placeholder="Plat">
     </div>
     <button type="submit" class="btn btn-primary mb-2 valider">Ajouter</button>
   </form>
  </div>
  
     <div class="days">
       <a class="lien" href="#">Lundi</a>
       <a class="lien" href="#">Mardi</a>
       <a class="lien" href="#">Mercredi</a>
       <a class="lien" href="#">Jeudi</a>
       <a class="lien" href="#">Vendredi</a>
     </div>
   </nav>
  <div class="plat">
   <div class="days">
     <select class="sel">
       <option>Menu 1</option>
     </select>
     <select class="sel">
       <option>Menu 1</option>
     </select>
     <select class="sel">
       <option>Menu 1</option>
     </select>
     <select class="sel">
       <option>Menu 1</option>
     </select>
     <select class="sel">
       <option>Menu 1</option>
     </select>
   </div>
  </div>
  <div class="plat">
   <div class="days">
     <select class="sel">
       <option>Menu 1</option>
     </select>
     <select class="sel">
       <option>Menu 1</option>
     </select>
     <select class="sel">
       <option>Menu 1</option>
     </select>
     <select class="sel">
       <option>Menu 1</option>
     </select>
     <select class="sel">
       <option>Menu 1</option>
     </select>
   </div>
  </div>
 
  <div class="valid">
   <button class="btn btn-primary valider">Valider</button>
  </div>