.nav-item {
  cursor: pointer;
  font-size: 1.3em;
  font-weight: 600;
  text-align: center;
}

.tabsNav {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  /*max-width: 100%;*/
  margin-bottom: 37px;
  /* background-color: #e2e2e2; */
  /* border-radius: 10px; */
  display: inline-block;
  padding: 45px;
  
}

a {
  text-align: center;
  display: inline-block;
}

.nav-link-custom {
  background-color: #dfdfdf;
  color: rgb(17, 14, 14);
  border-radius: 20px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}




.nav-link:hover {
  filter: drop-shadow(2px 2px 7px rgb(194, 194, 194));
  background-color: #cb2a3f;
  color: white
}



.tab-pane {
  /* display: flex; */
  text-align: center;
}

.tab-pane.active {
  animation: appear .8s ease-in-out;
  /* animation: scale-up-center 0.4s ease-in-out; */
}

.tab{
  text-align: center
}

.car{
  padding-top: 30px;
  margin-left: 20px;
}

.quantite{
  padding: 10px;
  border: 2px solid;
  margin-top: 20px;
  border-radius: 40px 40px 0px 0px;
}

span{
  color: black;
  font-weight: bolder;
  font-size: 25px
}

.card{
  background-image: url(https://images.pexels.com/photos/459469/pexels-photo-459469.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500)
}